/* line 4, ../sass/components/header.sass */
.media-grid.media-grid-1.header li {
  font-weight: bold;
  font-family: helvetica;
  font-size: 20px;
}
/* line 9, ../sass/components/header.sass */
.media-grid.media-grid-1.header img {
  margin-top: 20px;
  border-radius: 100px;
  border: solid;
  border-color: black;
}

/* line 4, ../sass/components/hero.sass */
.media-grid.media-grid-1.hero li {
  width: 100%;
  height: 200px;
  z-index: 1;
  -webkit-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
}
/* line 10, ../sass/components/hero.sass */
.media-grid.media-grid-1.hero li img {
  margin-top: 10px;
}
/* line 13, ../sass/components/hero.sass */
.media-grid.media-grid-1.hero li:hover {
  width: 100%;
  height: 300px;
}

/* line 17, ../sass/components/hero.sass */
.zoompic {
  width: 180px;
  height: 180px;
  -webkit-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
}

/* line 23, ../sass/components/hero.sass */
.zoompic:hover {
  width: 25%;
  height: 280px;
}

/* line 4, ../sass/components/footer.sass */
.media-grid.media-grid-2 li {
  width: 50%;
  height: 200px;
  background: #d0c8d3;
  text-align: center;
  font-weight: bold;
}

/* line 4, ../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(4) {
  background: #482955;
}
/* line 6, ../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(4) img {
  max-width: 100%;
}

/* line 10, ../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(2) {
  background: #674d72;
}
/* line 12, ../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(2) img {
  max-width: 100%;
}

/* line 16, ../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(odd) {
  background: #846f8d;
}
/* line 18, ../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(odd) img {
  max-width: 100%;
}

/* line 22, ../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(3) {
  background: #674d72;
}
/* line 24, ../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(3) img {
  max-width: 100%;
}

/* line 28, ../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(even) {
  background: #846f8d;
}
/* line 30, ../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(even) img {
  max-width: 100%;
}

/* line 34, ../sass/components/menu.sass */
.media-grid.media-grid-4 li {
  width: 25%;
  height: 300px;
}
/* line 37, ../sass/components/menu.sass */
.media-grid.media-grid-4 li img {
  width: 100%;
  z-index: -1;
}

/* line 8, ../sass/application.sass */
.media-grid {
  list-style-type: none;
  background: #846f8d;
  margin: 0;
  padding: 0;
}
/* line 14, ../sass/application.sass */
.media-grid li {
  background: #482955;
  float: left;
  height: 200px;
  width: 20%;
  text-align: center;
}

/* line 22, ../sass/application.sass */
.media-grid.media-grid-1 li {
  width: 100%;
  height: 400px;
  background: #bd92cf;
}
