/* line 4, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(4) {
  background: #482955;
}
/* line 6, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(4) img {
  max-width: 100%;
}

/* line 10, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(2) {
  background: #674d72;
}
/* line 12, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(2) img {
  max-width: 100%;
}

/* line 16, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(odd) {
  background: #846f8d;
}
/* line 18, ../../sass/components/menu.sass */
.media-grid.media-grid-4.reverse li:nth-child(odd) img {
  max-width: 100%;
}

/* line 22, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(3) {
  background: #674d72;
}
/* line 24, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(3) img {
  max-width: 100%;
}

/* line 28, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(even) {
  background: #846f8d;
}
/* line 30, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li:nth-child(even) img {
  max-width: 100%;
}

/* line 34, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li {
  width: 25%;
  height: 300px;
}
/* line 37, ../../sass/components/menu.sass */
.media-grid.media-grid-4 li img {
  width: 100%;
  z-index: -1;
}
